<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title><%= title %> </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/custom.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="/"><img class="logo_icon img-responsive" src="/images/logo/logo.png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="/images/layout_img/user_img.jpg"
                                    alt="#" /></div>
                            <div class="user_info">
                                <h6><%= user.lname %> <%= user.fname %></h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4> Trường ĐH Bách Khoa</h4>
                    <ul class="list-unstyled components">
                        <li><a href="/"><i class="fa fa-dashboard yellow_color"></i> <span>Thông báo</span></a>

                        <li>
                            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                                    class="fa fa-table purple_color2"></i> <span>Sự kiện</span></a>
                            <ul class="collapse list-unstyled" id="element">
                                <li><a href="/event">> <span>Sự kiện mới</span></a></li>
                                <li><a href="/student-event">> <span>Đã tham gia</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                                    class="fa fa-briefcase blue1_color"></i> <span>Đăng ký</span></a>
                            <ul class="collapse list-unstyled" id="apps">
                                <li><a href="/print">> <span>In giấy tờ</span></a></li>
                                <li><a href="/reduce-tuition">> <span>Miễn giảm học phí</span></a></li>
                                <li><a href="/feedback">> <span>Phản ánh chất lượng</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/contact">
                                <i class="fa fa-paper-plane red_color"></i> <span>Liên hệ</span></a>
                        </li>

                        <li><a href="/edit-info"><i class="fa fa-cog yellow_color"></i> <span>Chỉnh sửa thông
                                    tin</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                                    class="fa fa-bars"></i></button>

                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <!-- Edit here to update new attention -->
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge"></span></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge"></span></a>
                                        </li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img
                                                    class="img-responsive rounded-circle"
                                                    src="/images/layout_img/user_img.jpg" alt="#" /><span
                                                    class="name_user"><%= user.fname %></span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="/edit-info">Settings</a>
                                                <a class="dropdown-item" href="/contact">Help</a>
                                                <a class="dropdown-item" href="/logout"><span>Log Out</span> <i
                                                        class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->