<%- include ('../layouts/consul_header') -%>

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Thêm việc làm mới</h2>
            </div>
         </div>
      </div>
      <div>
         <a href="/consul/list-intern" class="btn btn-primary">Quay về danh sách</a>
      </div>

      <div style="background-color: #D1E8E4; padding: 1rem; margin-top: 2rem;">
         <form method="post" action="/consul/add-intern">
            <div class="form-group">
               <label for="">Tiêu đề việc làm</label>
               <input type="text" class="form-control" name="title" placeholder="việc làm...">
            </div>
            <div class="form-group">
               <label for="">Đối tượng</label>
               <input type="text" class="form-control" name="forwho" placeholder="Dành cho sinh viên...">
            </div>
            <div class="form-row">
               <div class="form-group col-md-6">
                  <label for="">Thời gian</label>
                  <input type="text" class="form-control" name="time_happen" placeholder="Từ ngày...đến...">
               </div>
               <div class="form-group col-md-6">
                  <label for="">Thời gian ẩn trên Trang chủ</label>
                  <input type="date" class="form-control" name="etime" placeholder="yyyy-mm-dd">
               </div>
            </div>
            <label for="">Nội dung việc làm</label>
            <div class="form-floating">
               <textarea name="content" class="form-control"
                  placeholder="Cập nhật nội dung chi tiết của việc làm vào đây..." id="floatingTextarea2"
                  style="height: 10rem"></textarea>

            </div>

            <button type="submit" class="btn btn-primary mt-3">Đăng tải việc làm</button>
         </form>


      </div>

   </div>

   <!-- end dashboard inner -->

   <%- include ('../layouts/footer') -%>