<%- include ('layouts/header') -%>
<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Contacts</h2>
            </div>
         </div>
      </div>
      <!-- row -->
      <div class="row column1">
         <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  <div class="heading1 margin_0">
                     <h2>Contacts</h2>
                  </div>
               </div>
               <div class="full price_table padding_infor_info">
                  <div class="row">
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->
                     <!-- column contact -->
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                        <div class="contact_blog">
                           <h4 class="brief">Digital Strategist</h4>
                           <div class="contact_inner">
                              <div class="left">
                                 <h3>John Smith</h3>
                                 <p><strong>About: </strong>Frontend Developer</p>
                                 <ul class="list-unstyled">
                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                    <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                 </ul>
                              </div>
                              <div class="right">
                                 <div class="profile_contacts">
                                    <img class="img-responsive" src="images/layout_img/msg2.png" alt="#" />
                                 </div>
                              </div>
                              <div class="bottom_list">
                                 <div class="left_rating">
                                    <p class="ratings">
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star"></span></a>
                                       <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                 </div>
                                 <div class="right_button">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                       </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                       <i class="fa fa-user"> </i> View Profile
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end column contact blog -->

                     <%- include ('layouts/footer') -%>