<!DOCTYPE html>
<html lang="en">

<head>
  <title>BKUni</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="homepage/fonts/icomoon/style.css">

  <link rel="stylesheet" href="homepage/css/bootstrap.min.css">
  <link rel="stylesheet" href="homepage/css/jquery-ui.css">
  <link rel="stylesheet" href="homepage/css/owl.carousel.min.css">
  <link rel="stylesheet" href="homepage/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="homepage/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="homepage/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="homepage/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="homepage/css/aos.css">

  <link rel="stylesheet" href="homepage/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="/">BKUni</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#programs-section" class="nav-link">Chức năng</a></li>
                <li><a href="#teachers-section" class="nav-link">Nhân viên</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">

          </div>
        </div>

    </header>

    <div class="intro-section" id="home-section">

      <div class="slide-1" style="background-image: url('homepage/images/hero_1.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <h1 data-aos="fade-up" data-aos-delay="100">BKUni Caring Center</h1>
                  <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Chuyên trang chăm sóc, tư vấn, đáp ứng yêu cầu
                    từ sinh viên của Hệ thống giáo dục trực tuyến BKUniversity</p>


                </div>

                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
                  <form class="form-box" style="text-align: center;">
                    <h3 class="h4 text-black mb-4">Đăng nhập</h3>
                    <div class="form-group">
                      <a href="/login" class="btn btn-primary btn-pill"
                        style="text-decoration: none; width: 15rem;">Dành cho
                        Sinh
                        viên</a>
                    </div>
                    <div class="form-group">
                      <a href="/staff/login" class="btn btn-primary btn-pill"
                        style="text-decoration: none; width: 15rem;">Dành cho
                        Nhân viên</a>
                    </div>
                    <div class="form-group">
                      <a href="/consul/login" class="btn btn-primary btn-pill"
                        style="text-decoration: none; width: 15rem;">Dành cho
                        Tư vấn
                        viên</a>
                    </div>

                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="site-section" id="programs-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Chức năng chính</h2>
            <p>Dưới đây là một vài chức năng nổi bật mà Sinh viên có thể nhận được khi sử dụng dịch vụ của BKUni Caring
              Center.
            </p>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="homepage/images/chat.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Tư vấn trực tuyến</h2>
            <p class="mb-4">Sinh viên có thể lựa chọn tư vấn viên theo lĩnh vực mà mình cần hỗ trợ. Đặt câu hỏi và nhận
              câu trả lời như một ứng dụng Chat quen thuộc.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span class="custom-icon-inner mr-3"><span class="icon icon-paper-plane"></span></span>
              <div>
                <h3 class="m-0">Đặt câu hỏi và gửi đi</h3>
              </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span class="custom-icon-inner mr-3"><span class="icon icon-wechat"></span></span>
              <div>
                <h3 class="m-0">Trò chuyện trực tiếp qua tính năng chat</h3>
              </div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="homepage/images/request.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Gửi yêu cầu</h2>
            <p class="mb-4">Sinh viên có thể gửi các yêu cầu in giấy tờ, xét duyệt hồ sơ hay các phản ánh chất lượng của
              mình tới các nhân viên.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span style="background-color: #58A16D;" class="custom-icon-inner mr-3"><span
                  class="icon icon-description"></span></span>
              <div>
                <h3 style="color: #58A16D;" class="m-0">In các loại giấy tờ</h3>
              </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span style="background-color: #58A16D;" class="custom-icon-inner mr-3"><span
                  class="icon icon-university"></span></span>
              <div>
                <h3 style="color: #58A16D;" class="m-0">Phản ánh chất lượng</h3>
              </div>
            </div>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="homepage/images/event.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Cập nhật thông tin và sự kiện</h2>
            <p class="mb-4">Sinh viên có thể xem các thông báo chung về việc học hay các cơ hội việc làm. Ngoài ra, sinh
              viên cũng có thể xem thông tin và đăng ký các sự kiện đang diễn ra</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
              <span style="background-color: #A452B0;" class="custom-icon-inner mr-3"><span
                  class="icon icon-notifications_active"></span></span>
              <div>
                <h3 style="color: #A452B0;" class="m-0">Xem thông báo mới</h3>
              </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
              <span style="background-color: #A452B0;" class="custom-icon-inner mr-3"><span
                  class="icon icon-event_note"></span></span>
              <div>
                <h3 style="color: #A452B0;" class="m-0">Đăng ký tham gia sự kiện</h3>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="site-section" id="teachers-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Nhân viên tiêu biểu</h2>
            <p class="mb-5">Dưới đây là top 3 Nhân viên xuất sắc của hệ thống giáo dục trực tuyến BKUni. Họ là những
              người luôn tận tâm, hết lòng vì sinh viên.</p>
          </div>
        </div>


        <div class="row">

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="teacher text-center">
              <img src="homepage/images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
              <div class="py-2">
                <h3 class="text-black">Nguyễn Trọng Phúc</h3>
                <p class="position" style="font-weight: bold;">1914704</p>
                <p>Khoa học và Kỹ thuật Máy tính</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="teacher text-center">
              <img src="homepage/images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
              <div class="py-2">
                <h3 class="text-black">Phạm Hoàng Trường</h3>
                <p class="position" style="font-weight: bold;">1915745</p>
                <p>Khoa học và Kỹ thuật Máy tính</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="teacher text-center">
              <img src="homepage/images/person_3.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
              <div class="py-2">
                <h3 class="text-black">Nguyễn Văn An</h3>
                <p class="position" style="font-weight: bold;">1912537</p>
                <p>Điện - Điện tử</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer-section bg-white">
      <div class="container">

        <div class="row text-center">
          <div class="col-md-12">
            <div class="border-top">
              <p>
                Made with love by Nhom01_L08
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div> <!-- .site-wrap -->

  <script src="homepage/js/jquery-3.3.1.min.js"></script>
  <script src="homepage/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="homepage/js/jquery-ui.js"></script>
  <script src="homepage/js/popper.min.js"></script>
  <script src="homepage/js/bootstrap.min.js"></script>
  <script src="homepage/js/owl.carousel.min.js"></script>
  <script src="homepage/js/jquery.stellar.min.js"></script>
  <script src="homepage/js/jquery.countdown.min.js"></script>
  <script src="homepage/js/bootstrap-datepicker.min.js"></script>
  <script src="homepage/js/jquery.easing.1.3.js"></script>
  <script src="homepage/js/aos.js"></script>
  <script src="homepage/js/jquery.fancybox.min.js"></script>
  <script src="homepage/js/jquery.sticky.js"></script>


  <script src="homepage/js/main.js"></script>

</body>

</html>