<%- include ('layouts/header') -%>

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Thông báo</h2>
            </div>
         </div>
      </div>

      <div class="row">

         <!-- tab style 2 -->
         <div class="col-md-6">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  <div class="heading1 margin_0">
                     <h2>Tổ chức SHCD định kỳ đợt 1 năm học 2021 - 2022</h2>
                  </div>
               </div>
               <div class="full inner_elements">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="tab_style2">
                           <div class="tabbar padding_infor_info">
                              <nav>
                                 <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab2" data-toggle="tab"
                                       href="#nav-home_s2" role="tab" aria-controls="nav-home_s2"
                                       aria-selected="true">Đối tượng</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab"
                                       href="#nav-profile_s2" role="tab" aria-controls="nav-profile_s2"
                                       aria-selected="false">Thời gian</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab"
                                       href="#nav-contact_s2" role="tab" aria-controls="nav-contacts_s2"
                                       aria-selected="false">Chi tiết</a>
                                 </div>
                              </nav>
                              <div class="tab-content" id="nav-tabContent_2">
                                 <div class="tab-pane fade show active" id="nav-home_s2" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <p>SHCD định kỳ đợt 1 cho sinh viên (SV) K2019, K2020; Kiến trúc SV K2018 – K2020
                                       và SV Việt – Pháp K2018 – K2020
                                    </p>
                                 </div>
                                 <div class="tab-pane fade" id="nav-profile_s2" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <p>Thời gian: từ ngày 22/11 – 12/12/2021.
                                    </p>
                                 </div>
                                 <div class="tab-pane fade" id="nav-contact_s2" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <p>Địa điểm:
                                       Trực tuyến thông qua phần mềm Bách Khoa E-learning (BKeL)
                                    </p>
                                    <p> III. Nội dung: gồm 02 chuyên đề:

                                       <br> - Báo cáo tình hình kinh tế – văn hóa – xã hội của Việt Nam 09 tháng đầu năm
                                       2021.

                                       <br> - Đánh giá tình hình kinh tế – văn hóa – xã hội của Việt Nam 09 tháng đầu
                                       năm
                                       2021 và đặc biệt trong đợt dịch Covid-19 lần thứ 04 tại Việt Nam, hướng phục hồi
                                       kinh tế.
                                    </p>
                                    <p>

                                       Hình thức điểm danh SV tham gia SHCD định kỳ:

                                       <br> - Tuần sinh hoạt là bắt buộc đối với tất cả các SV K2019, K2020; SV Kiến
                                       trúc
                                       K2018 – K2020 và SV Việt – Pháp K2018 – K2020.

                                       <br> - Bài giảng SHCD định kỳ đợt 1 năm học 2021 – 2022 được Phòng CTCT-SV đăng
                                       trên
                                       Bách Khoa E-learning (BKeL).

                                       <br> - SV phải sử dụng email SV theo định dạng: BKNetID@hcmut.edu.vn để đăng nhập
                                       vào
                                       BKeL tham gia SHCD định kỳ đợt 1.


                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  <div class="heading1 margin_0">
                     <h2>KHAI BÁO THÔNG TIN SỨC KHỎE HIỆN TẠI </h2>
                  </div>
               </div>
               <div class="full inner_elements">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="tab_style2">
                           <div class="tabbar padding_infor_info">
                              <nav>
                                 <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab2" data-toggle="tab"
                                       href="#nav-home_s4" role="tab" aria-controls="nav-home_s2"
                                       aria-selected="true">Đối tượng</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab2" data-toggle="tab"
                                       href="#nav-profile_s4" role="tab" aria-controls="nav-profile_s2"
                                       aria-selected="false">Thời gian</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab"
                                       href="#nav-contact_s4" role="tab" aria-controls="nav-contacts_s2"
                                       aria-selected="false">Chi tiết</a>
                                 </div>
                              </nav>
                              <div class="tab-content" id="nav-tabContent_2">
                                 <div class="tab-pane fade show active" id="nav-home_s4" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <p>Toàn thể sinh viên trường
                                    </p>
                                 </div>
                                 <div class="tab-pane fade" id="nav-profile_s4" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <p>Thời gian thực hiện khai báo đến 17h00 ngày 30/11/2021.
                                    </p>
                                 </div>
                                 <div class="tab-pane fade" id="nav-contact_s4" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <p>Thực hiện theo hướng dẫn của Bộ Giáo Dục và Đào tạo, Bộ Y Tế và để đảm bảo an
                                       toàn
                                       trong việc tổ chức hoạt động giảng dạy trực tiếp tại trường, nhà trường yêu cầu
                                       tất
                                       cả sinh viên phải thực hiện khai báo tình hình sức khỏe và tình trạng tiêm vaccin
                                       của sinh viên.
                                       <br>
                                       Thời gian thực hiện khai báo đến 17h00 ngày 11/11/2021.
                                       <br>
                                       Lưu ý : Sinh viên đăng nhập khai báo bằng email của trường @hcmut.edu.vn
                                       <br>
                                       Link khai báo: https://forms.gle/pTUSXVEHapUQxfkS6
                                    </p>


                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

   <!-- end dashboard inner -->

   <%- include ('layouts/footer') -%>